<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h2>≪フォロー一覧≫</h2>
      <br/>
      <table class="table text-center">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>投稿数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= link_to public_customer_path(customer.id) do %>
                  <%= image_tag customer.get_profile_image(80, 80), class:"rounded-circle" %>
                  <%= customer.name %>
                <% end %>
              </td>
              <td>
                <p class="caption"><%= "#{customer.posts.count} 投稿" %></p>
              </td>
              <td>
                <% if customer != current_customer %>
                  <% if current_customer.following?(customer) %>
                    <%=link_to public_customer_relationships_path(customer), method: :delete do %>
                      <button type="button" class="btn btn btn-danger">フォロー解除</button>
                    <% end %>
                  <% else %>
                    <%=link_to public_customer_relationships_path(customer), method: :post do %>
                      <button type="button" class="btn btn btn-primary">フォロー</button>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>