<div class="container">
  <div class="col-md-6">
    <table class="table">
      </br>
      <h3 class="inner"><%= @customer.name %>さんの会員情報編集</h3>


      <%= form_with model: @customer, url: admin_update_customer_path do |f| %>
        <br />
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <td>ユーザー名</td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>

          <tr>
            <td>会員ステータス</td>
            <td><%= f.radio_button :is_deleted, false %>有効 <%= f.radio_button :is_deleted, true %>退会</td>
          </tr>

          <tr>
            <td></td>
            </br>
            <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
