<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
          <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
          <h1>ログイン</h1>

          </br>
          <div class="box-email">
            <%= f.label :email, "Eメール" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="box-password">
            <div class="a-row">
              <div class="column-left">
                <%= f.label :password, "パスワード" %>
              </div>
            </div>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="box-login">

            </br>
            <%= f.submit "ログイン" %>
            <% if devise_mapping.rememberable? %>
            <div class="remember">
              <%= f.label :remember, "ログインしたままにする" %>
            </div>
            <% end %>
          </div>
          <% end %>

          <div class="box-newusr">
            <br />
            <p><span>------------</span> 新しいお客様ですか？ <span>------------</span></p>
            <%= link_to "新規登録", new_customer_registration_path %>
          </div>
    </div>
</div>


